body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h3 {
	font-size: 64px;
	margin: 12px 0;
}

#data {
	color: rgb(122, 122, 122);
}